@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>La tiendita</h1>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tu saldo es:</h2> $130
    </div>
   
    <div class="col-md-4">
       <table>
           <thead>
               <tr>
                   <th>
                       Producto
                   </th>
                   <th>
                       Cantidad
                   </th>
                   <th>
                       Costo
                   </th>
                   <th>
                       Total
                   </th>
                   <th>
                       Fecha
                   </th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>
                       Gansito
                   </td>
                   <td>
                       2
                   </td>
                   <td>
                       $5
                   </td>
                   <td>
                       $10
                   </td>
                   <td>
                       01/02/2019
                   </td>
               </tr>
               <tr>
                   <td>
                       Sabritas
                   </td>
                   <td>
                       1
                   </td>
                   <td>
                       $10
                   </td>
                   <td>
                       $10
                   </td>
                   <td>
                       01/02/2019
                   </td>
               </tr>
               <tr>
                   <td>
                       Refresco
                   </td>
                   <td>
                       1
                   </td>
                   <td>
                       $15
                   </td>
                   <td>
                       $15
                   </td>
                   <td>
                       02/03/2019
                   </td>
               </tr>

           </tbody>
       </table>
    </div>
</div>